@font-face {
  font-family: 'Kollektif';
  src: url('/fonts/Kollektif/Kollektif.woff2') format('woff2'),
      url('/fonts/Kollektif/Kollektif.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Kollektif Bold';
  src: url('/fonts/Kollektif/Kollektif-Bold.woff2') format('woff2'),
      url('/fonts/Kollektif/Kollektif-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
  font-display: auto;
}

@font-face {
  font-family: 'Norwester';
  src: url('/fonts/Norwester/Norwester-Regular.woff2') format('woff2'),
      url('/fonts/Norwester/Norwester-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: auto;
}
